Repository oleksandrivantsiv/sonic-buildimage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @sujinmkang, @prgeor, @vdahiya12, @qiluo-msft, @xumia, @Azure/sonic-build, @Azure/sonic-kernel, @Azure/sonic-platform, @Azure/sonic-management, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @StormLiangMS, @Azure/sonic-fundamentals, @Azure/sonic-dataplane

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/        @sujinmkang @prgeor @vdahiya12

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan
/src/sonic-build-hooks/                 @Azure/sonic-build
/src/debootstrap/                       @Azure/sonic-build
/src/sonic-fips/                        @Azure/sonic-build

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# kernel
/src/sonic-linux-kernel/                @Azure/sonic-kernel

# devices
/device/                                @Azure/sonic-platform
/src/sonic-platform-common/             @Azure/sonic-platform
/src/sonic-platform-daemons/            @Azure/sonic-platform
/src/sonic-platform-pde/                @Azure/sonic-platform
/src/lm-sensors/                        @Azure/sonic-platform
/src/flashrom/                          @Azure/sonic-platform

# common library
/src/initramfs-tools/                   @qiluo-msft
/src/redis-dump-load/                   @Azure/sonic-management
/src/sonic-py-common/                   @Azure/sonic-management
/src/sonic-py-swsssdk/                  @Azure/sonic-management
/src/sonic-swss-common/                 @Azure/sonic-management
/src/bash/                              @Azure/sonic-management
/src/tacacs/                            @Azure/sonic-management
/src/radius/                            @Azure/sonic-management
/src/swig/                              @Azure/sonic-management
/src/socat/                             @Azure/sonic-management

# redis
/src/redis/                             @Azure/sonic-management
/src/hiredis/                           @Azure/sonic-management

# yang
/src/sonic-yang-models/                 @praveen-li @dgsudharsan @rathnasabapathyv @venkatmahalingam @qiluo-msft
/src/sonic-yang-mgmt/                   @Azure/sonic-management
/src/libyang/                           @Azure/sonic-management
/src/libyang1/                          @Azure/sonic-management
/src/libyang2/                          @Azure/sonic-management

# bgpcfgd
/src/sonic-bgpcfgd/                     @StormLiangMS

# sonic-config-engine
/src/sonic-config-engine/               @Azure/sonic-management

# sonic-utilities
/src/sonic-utilities/                   @Azure/sonic-management

# sonic-telemetry
/src/sonic-telemetry/                   @Azure/sonic-management

# snmp
/src/sonic-snmpagent/                   @Azure/sonic-management
/src/snmpd/                             @Azure/sonic-management

# dhcp relay
/src/dhcp6relay/                        @Azure/sonic-fundamentals
/src/dhcpmon/                           @Azure/sonic-fundamentals
/src/isc-dhcp/                          @Azure/sonic-fundamentals

# sflow
/src/sflow/                             @Azure/sonic-dataplane

# sonic restapi
/src/sonic-restapi/                     @Azure/sonic-dataplane

# sonic swss
/src/sonic-swss/                        @Azure/sonic-dataplane

# linux networking, e.g., libnl3, iproute2, ifupdown2, ethtool
/src/libnl3/                            @Azure/sonic-dataplane
/src/iproute2/                          @Azure/sonic-dataplane
/src/ifupdown2/                         @Azure/sonic-dataplane
/src/ethtool/                           @Azure/sonic-dataplane

# ptf
/src/ptf/                               @Azure/sonic-fundamentals
/src/ptf-py3/                           @Azure/sonic-fundamentals
/src/scapy/                             @Azure/sonic-fundamentals

[202205] Clear /etc/resolv.conf after changing the mgmt interface configuration to static.
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Owners: @lguohan

[dns] Add support for static DNS configuration.
  files/build_templates/sonic_debian_extension.j2
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv-config.service
  files/image_config/resolv-config/resolv-config.sh
  files/image_config/resolv-config/resolv.conf.j2
  src/sonic-config-engine/tests/data/dns/resolv.conf
  src/sonic-config-engine/tests/data/dns/static_dns.json
  src/sonic-config-engine/tests/test_j2files.py
Owners: @lguohan, @Azure/sonic-management

[DASH][CRM] Extend the CRM YANG model with DASH attributes.
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests/crm_dash.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm_dash.json
  src/sonic-yang-models/yang-models/sonic-crm.yang
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

[Mellanox] Change the default breakout mode for internal ports of the Mellanox-SN4700-O28 SKU.â.
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/hwsku.json
Owners: @Azure/sonic-platform

[nvidia-bluefield] Add support for Nvidia-9009d3b600CVAA and Nvidia-9009d3b600SVAA BF-3 DPUs.
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C1/hwsku.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C1/port_config.ini
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C1/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C2/hwsku.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C2/port_config.ini
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C2/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA/hwsku.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA/port_config.ini
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/default_sku
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/installer.conf
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/pcie.yaml
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/platform.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/platform_asic
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/plugins/ssd_util.py
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/pmon_daemon_control.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/system_health_monitoring_config.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/Nvidia-9009d3b600SVAA
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/Nvidia-9009d3b600SVAA-C1
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/Nvidia-9009d3b600SVAA-C2
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/default_sku
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/installer.conf
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/pcie.yaml
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/platform.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/platform_asic
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/plugins
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/pmon_daemon_control.json
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600svaa/system_health_monitoring_config.json
Owners: @Azure/sonic-platform

[nvidia-bluefield] Add dependencies required for Nvidia-bluefield image compilation.
  sonic-slave-bookworm/Dockerfile.j2
Owners: @lguohan

[bluefield] Update SAI to SAIBuild0.0.30.0, SDK to v24.4-RC2
  platform/nvidia-bluefield/pinctrl-mlxbf3/pinctrl-mlxbf3.c.patch
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdk-src/doca/0001-Remove-meson-from-connectx-dependencies.patch
  platform/nvidia-bluefield/sdk-src/doca/Makefile
  platform/nvidia-bluefield/sdk-src/dpdk/0001-Remove-meson-from-dependencies.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Allow-warning-during-package-compilation.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Install-LD-configuration.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Remove-meson-from-dependencies.patch
  platform/nvidia-bluefield/sdk-src/ofed/templates/control.j2
  platform/nvidia-bluefield/sdk-src/ofed/templates/postinst.j2
  platform/nvidia-bluefield/sdk-src/ofed/templates/postrm.j2
  platform/nvidia-bluefield/sdk-src/rdma/disable-ibverb-dependencies.patch
Owners: @lguohan

Add configuration optimization to run SONiC on Appliance DPU
  dockers/docker-orchagent/ipinip.json.j2
  dockers/docker-orchagent/orchagent.sh
  dockers/docker-orchagent/switch.json.j2
  dockers/docker-platform-monitor/docker_init.j2
  dockers/docker-sonic-gnmi/gnmi-native.sh
  src/sonic-config-engine/config_samples.py
Owners: @lguohan, @Azure/sonic-management

[smart-switch] Extend config generator for t1-smartswitch topology.
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/smartswitch_config.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/data/smartswitch/SS-DPU-1x400Gb/hwsku.json
  src/sonic-config-engine/tests/data/smartswitch/SSwitch-32x1000Gb/hwsku.json
  src/sonic-config-engine/tests/data/smartswitch/sample_dpu_platform.json
  src/sonic-config-engine/tests/data/smartswitch/sample_switch_platform.json
  src/sonic-config-engine/tests/sample_output/t1-smartswitch-dpu.json
  src/sonic-config-engine/tests/sample_output/t1-smartswitch.json
  src/sonic-config-engine/tests/t1-ss-dpu-sample-port-config.ini
  src/sonic-config-engine/tests/test_j2files.py
Owners: @Azure/sonic-management

[smart-switch] Extend config generator for t1-smartswitch topology.
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/smartswitch_config.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/data/smartswitch/SS-DPU-1x400Gb/hwsku.json
  src/sonic-config-engine/tests/data/smartswitch/SSwitch-32x1000Gb/hwsku.json
  src/sonic-config-engine/tests/data/smartswitch/sample_dpu_platform.json
  src/sonic-config-engine/tests/data/smartswitch/sample_switch_platform.json
  src/sonic-config-engine/tests/sample_output/t1-smartswitch-dpu.json
  src/sonic-config-engine/tests/sample_output/t1-smartswitch.json
  src/sonic-config-engine/tests/t1-ss-dpu-sample-port-config.ini
  src/sonic-config-engine/tests/test_j2files.py
Owners: @Azure/sonic-management

[nvidia-bluefield] Extend BFB installer script to reset DPU after image installation
  platform/mellanox/sonic-bfb-installer.sh
Owners: @lguohan

[Mellanox] Update mlnx-fw-upgrade.j2 to support BF3 DPU NIC FW.
  platform/mellanox/mlnx-fw-upgrade.j2
Owners: @lguohan

[nvidia-bluefield] Define a common sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C1/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA-C2/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-9009d3b600cvaa/Nvidia-9009d3b600CVAA/sai.profile
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/Nvidia-bf3-com-dpu/sai.profile
  platform/nvidia-bluefield/docker-syncd-bluefield/Dockerfile.j2
  platform/nvidia-bluefield/docker-syncd-bluefield/sai-common.profile
Owners: @Azure/sonic-platform, @lguohan

[dpu-appliance] Add support of appliance topology.
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/minigraph.py
Owners: @Azure/sonic-management

[smart-switch-master] Update SAI to SAIBuild0.0.36.0, SDK/FW to v24.10-RC2/v32.42.1000, BFSoC to 4.9.0
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[mellanox] Disable AMD C-state on SN4280 platform.
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Owners: @Azure/sonic-platform

[nvidia-bluefield] Fix the issue with the SDK compilation caused by missing dependencies.
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[resolv-config] Improve container resolv.conf update mechanism
  files/image_config/resolv-config/update-containers
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[Mellanox] Update SAI to SAIBuild2511.34.1.52, FW to v2016.3074
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, SDK to v26.1-RC1, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, SDK to v26.1-RC1, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, SDK to v26.1-RC1, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

[DPU] Update SAI to SAIBuild0.0.48.0, SDK to v26.1-RC1, FW to v48.0318
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

Integrate HW-MGMT 7.0070.1023 Changes
  platform/mellanox/hw-management.mk
Owners: @lguohan
